* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003f88;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}

.card .face {
    position: absolute;
    top: 0;
    left: 5%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 0.5s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.card .face.front {
    background: #fdc500;
}

.card:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}

.card .face.back {
    background: #ecf7fc;
    color: #000;
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back {
    transform: perspective(500px) rotateY(360deg);
}

.card .face h2 {
    font-size: 1.5em;
    transform: perspective(500px) translateZ(50px);
}

.buttons_area {
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}

.buttons_area .buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: 5%;
    width: 100%;
    /* height: 100%; */
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    min-width: 185px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

p {
    margin: 5px;
    padding-left: 20px;
    padding-right: 20px;
    /* font-size: 1.5em; */
    transform: perspective(500px) translateZ(50px);
}

.das {
    color: green;
}

.die {
    color: red;
}

.der {
    color: blue;
}

.tense {
    color: red;
    font-size: 12px;
}

.tense_display {
    font-size: 1.5em;
}

.verb_meaning {
    margin-top: 165px;
    font-size: 8px;
}

.ending {
    color: red;
}