:root {
    /* Tuebingen Colors */
    --tu-navy: #26323A;
    --tu-red: #930D30;
    --tu-gold: #C2993E;
    --light-gold: #DAB156;
    --tu-gray: #f2f2f2;

    /* Royale Theme  blue, cinnabar, bud-green, tngerine yellow
    --clr-first: #3B77BC;
    --clr-first-hl: #2e5e95;
    --clr-second: #DE482B;
    --clr-second-hl: #ff5f30;
    --clr-third: #81C046;
    --clr-third-hl: #9ae653;
    --clr-fourth: #FCCF03;
    --clr-fourth-hl: #ffe203; */

    /* Royale Theme  blue, cinnabar, bud-green, tngerine yellow */
    --clr-first: #4abdac;
    --clr-first-hl: #58e3ce;
    --clr-second: #FC4A1A;
    --clr-second-hl: #c93b14;
    --clr-third: #f7b733;
    --clr-third-hl: #ffca34;
    --clr-fourth: #dfdce3;
    --clr-fourth-hl: #acaab0;


    --clr-luna-blue: #3b77bc;
    --clr-luna-red: #de482b;
    --clr-luna-green: #81c046;
    --clr-luna-yellow: #fccf03;


    /* Functional */
    --correct: #3d9900;
    --wrong: #de1738;
    --error: #ffb2ae;
    --success: #C1E1C1;
    --tool_tip: #c9c9c9;
    --white: #ffffff;
    --whitish: #f2f2f2;
    --black: #000;
    --grey: #bcbcbc;

    --ff-primary: sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.5rem;
    --fs-800: 1.875rem;
    --fs-900: 2.5rem;
    --fs-1000: 3.5rem;


    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-third-heading: var(--fs-700);
    --fs-fourth-heading: var(--fs-500);
    --fs-title: var(--fs-700);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300);

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
}

@media (min-width: 50em) {
    :root {
        --fs-body: var(--fs-500);
        --fs-primary-heading: var(--fs-900);
        --fs-secondary-heading: var(--fs-800);
        --fs-third-heading: var(--fs-700);
        --fs-fourth-heading: var(--fs-500);
        --fs-nav: var(--fs-300);
    }
}





.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.1;
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.1;
}

.fs-third-heading {
    font-size: var(--fs-third-heading);
    line-height: 1.1;
}

.fs-fourth-heading {
    font-size: var(--fs-fourth-heading);
    line-height: 1.1;
}


.fs-title {
    font-size: var(--fs-title);
    line-height: 1.1;
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.padding-block-900 {
    padding-block: var(--size-900);
}

.padding-block-700 {
    padding-block: var(--size-700);
}

.padding-block-600 {
    padding-block: var(--size-600);
}


.padding-block-500 {
    padding-block: var(--size-500);
}


.padding-block-400 {
    padding-block: var(--size-400);
}




.display-sm-none {
    display: none;
}

@media (min-width: 50em) {
    .display-md-inline-flex {
        display: inline-flex;
    }
}

.bg_first_clr {
    background-color: var(--clr-first);
}

.bg_second_clr {
    background-color: var(--clr-second);
}

.bg_third_clr {
    background-color: var(--clr-third);
}

.bg_fourth_clr {
    background-color: var(--clr-fourth);
}

.bg_gray_clr {
    background-color: #f8f8f8;
}


.bg_bottom {
    background-color: var(--tu-gray);
}

.bg_top {
    background-color: var(--clr-first);
}

.bg_uni {
    background-color: white;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}


p[data-width="wide"] {
    max-width: 50ch;
}

/* main */

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
}


.container {
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.container_two {
    width: 8%;
}

.flow_space {
    margin-top: var(--flow-spacer, 1em);
}

.flow_skip_first_child :not(:first-child) {
    margin-top: var(--flow-spacer, 1.5em);
}

.one-column {
    display: grid;
}

.even-columns {
    display: grid;
    gap: 1rem;

}


@media (min-width: 50em) {
    .even-columns {
        margin-top: 2em;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }


}


.btn {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 1vmax;
    padding: 1.25em 2.5em;
    font-weight: var(--fw-bold);
    font-size: var(--fs-button);
    line-height: 1;
    color: var(--whitish);
    background-color: var(--clr-first);
    box-shadow: 0 1.125em 1em -1em var(--clr-first-hl);
}

.btn:hover,
.btn:focus-visible {
    background-color: var(--clr-first-hl);
}


/* footer navigation */

.footer-nav {
    columns: 2;
    gap: clamp(var(--size-200), 30vw, var(--size-900));
}

.footer-nav a {
    color: var(--tu-red);
    text-decoration: none;
}

.footer-nav a:is(:hover, :focus) {
    color: var(--tu-navy);
}