<div class="information experience">
    <h2 class="title">Experience</h2>
    <div class="box">
      <div class="year_entity">
        <h5 class="year">Feb 2022 - Present</h5>
        <h5>University of Tübingen</h5>
        <h5>Germany</h5>
      </div>
      <div class="text">
        <h4>Student Assistant (HIWI)</h4>
        <p>
          My job includes C-Test Editor backend improvement (NLP, JAVA,
          GWT, MAVEN, Python API)
        </p>
        <p>
          My job also includes Creating a language testing platform from
          scratch (NLP, Python, html, css, javascript, flask)
        </p>
        <p>
          Link:
          <a href="../files/Exercises_progress.pdf"  target="_blank">Testing Platform Demo</a>
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a
          >(work in progress)
        </p>
        <p>
          I also designed the static website for the research group (html,
          css, javascript)
        </p>
        <p>
          Link:
          <a href="http://experiment22.epizy.com/" target="_blank">Group Website</a></a
          >(work in progress)
        </p>
      </div>
    </div>

    <div class="box">
      <div class="year_entity">
        <h5 class="year">2013 - 2015</h5>
        <h5>University of Alppo</h5>
        <h5>Syria</h5>
      </div>
      <div class="text">
        <h4>Graduate Teaching Assistant</h4>
        <p>
          I taught English as a foreign language and English for special
          purposes to undergraduates.
        </p>
      </div>
    </div>
  </div>
