<div class="information">
  <h2 class="title">About Me</h2>
  <p class="content">
    My name is Mourhaf and I am an enthusiastic learner. I enjoy politics,
    languages, and programming. Not necessarily in that order.
  </p>
  <p class="content">
  Zu Sprachen: Meine Deutschkenntnisse verbessere ich derzeit durch Deutschkurse (inkl. Tandem).
  </p>
  
  <h2 class="title">Contact Information:</h2>
  <ul>
    <li>
      <span class="icon"
        ><i class="fa fa-map-marker" aria-hidden="true"></i
      ></span>
      <span class="text">Wankheimer Täle 1, Tübingen 72072</span>
    </li>
    <li>
      <span class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
      <span class="text">1782 3208 26</span>
    </li>
    <li>
      <span class="icon"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></span>
      <span class="text">mourhafkazzaz(at)gmail(dot)com</span>
    </li>
    <li>
      <span class="icon"
        ><a href="https://www.facebook.com/mourhafkazzaz/" target="_blank"
          ><i class="fa fa-facebook-square" aria-hidden="true"></i></a
      ></span>

      <span class="icon"
        ><a href="https://twitter.com/mourhafkazzaz" target="_blank"
          ><i class="fa fa-twitter" aria-hidden="true"></i></a
      ></span>

      <span class="icon"
        ><a href="https://www.linkedin.com/in/mourhafkazzaz/" target="_blank"
          ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a
      ></span>

      <span class="icon"
        ><a href="https://github.com/mourhafkz" target="_blank"
          ><i class="fa fa-github" aria-hidden="true"></i></a
      ></span>
    </li>
  </ul>
</div>
<script>
  $(".icon").each(function (index) {
    let s = 0.4;
    wait = s * (1 + index) + "s";
    $(this).css("animation-delay", wait);
    $(this).addClass("animated flipInX");
  });

  $(".title, .content, .text").each(function (index) {
    let s = 0.4;
    wait = s * (1 + index) + "s";
    $(this).css("animation-delay", wait);
    $(this).addClass("animated jackInTheBox");
  });
</script>
